.Itemlist{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 70%;
    border: 2px solid black;
    margin-top: 20px;
    overflow-y: scroll;
}